---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">

      {{ post.date | date: "%Y" }}年{% assign m = post.date | date: "%-m" %}
        {% case m %}
        {% when '1' %}1月
        {% when '2' %}2月
        {% when '3' %}3月
        {% when '4' %}4月
        {% when '5' %}5月
        {% when '6' %}6月
        {% when '7' %}7月
        {% when '8' %}8月
        {% when '9' %}9月
        {% when '10' %}10月
        {% when '11' %}11月
        {% when '12' %}12月
        {% endcase %}{{ post.date | date: "%-d" }}号
    </span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">旧文</a>
  {% else %}
    <span class="pagination-item older">旧文</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">新文</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">新文</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">新文</span>
  {% endif %}
</div>
